@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

.headerBodyStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  margin: 0;
}
.headerTitleStyle {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
}

.headerLogoStyle {
  text-align: right;
}

.logOut {
  color: black;
  font-size: 30px;
}